h1{
    color:rgb(0, 11, 26);
    font-family: cursive;
}

h2{
    color:rgb(0, 45, 104);
}

body { 
    background-color: #ca7607;
    color: white;
    font-family: Roboto;
    text-align: center;
}

header{ 
    border-bottom: 5px dashed rgb(0, 0, 0); 
}

footer {
    border-top: 5px dashed rgb(0, 0, 0); 
}

#nome-usuário { 
   font-weight: bold; 
}

.texto-inglês{ 
   font-style: italic;
 }